In [1]:
import pandas as pd

In [3]:
deliveries = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\deliveries.parquet')
match_players = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\match_players.parquet')
matches = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\matches.parquet')

In [4]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794009 entries, 0 to 794008
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                794009 non-null  int64
 1   season                  794009 non-null  object
 2   start_date              794009 non-null  object
 3   venue                   794009 non-null  object
 4   innings                 794009 non-null  int64
 5   ball                    794009 non-null  float64
 6   batting_team            794009 non-null  object
 7   bowling_team            794009 non-null  object
 8   striker                 794009 non-null  object
 9   non_striker             794009 non-null  object
 10  bowler                  794009 non-null  object
 11  runs_off_bat            794009 non-null  int64
 12  extras                  794009 non-null  int64
 13  wides                   32436 non-null   float64
 14  noballs                 4139 non-null    object
 15  byes                    3409 non-null    float64
 16  legbyes                 10424 non-null   float64
 17  penalty                 14 non-null      object
 18  wicket_type             43775 non-null   object
 19  player_dismissed        43775 non-null   object
 20  other_wicket_type       1 non-null       object
 21  other_player_dismissed  1 non-null       object
dtypes: float64(4), int64(4), object(14)
memory usage: 133.3+ MB

In [5]:
deliveries.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,None,NaN,NaN,None,None,None,None,None
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,None,NaN,NaN,None,None,None,None,None
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,None,NaN,NaN,None,None,None,None,None
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,None,NaN,NaN,None,None,None,None,None
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,None,NaN,NaN,None,None,None,None,None

In [6]:
match_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3463 entries, 0 to 3462
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team1_player1    3463 non-null   object
 1   team1_player2    3463 non-null   object
 2   team1_player3    3463 non-null   object
 3   team1_player4    3463 non-null   object
 4   team1_player5    3463 non-null   object
 5   team1_player6    3463 non-null   object
 6   team1_player7    3463 non-null   object
 7   team1_player8    3463 non-null   object
 8   team1_player9    3463 non-null   object
 9   team1_player10   3463 non-null   object
 10  team1_player11   3463 non-null   object
 11  team2_players1   3463 non-null   object
 12  team2_players2   3463 non-null   object
 13  team2_players3   3463 non-null   object
 14  team2_players4   3463 non-null   object
 15  team2_players5   3463 non-null   object
 16  team2_players6   3463 non-null   object
 17  team2_players7   3463 non-null   object
 18  team2_players8   3463 non-null   object
 19  team2_players9   3463 non-null   object
 20  team2_players10  3463 non-null   object
 21  team2_players11  3463 non-null   object
 22  match_id         3463 non-null   int64
dtypes: int64(1), object(22)
memory usage: 622.4+ KB

In [53]:
matches.head()

,team1,team2,gender,season,date,venue,city,toss_winner,toss_decision,winner,match_id
0,Australia,Sri Lanka,male,2016/17,2017/02/17,Melbourne Cricket Ground,None,Sri Lanka,field,Sri Lanka,1001349
1,Australia,Sri Lanka,male,2016/17,2017/02/19,"Simonds Stadium, South Geelong",Victoria,Sri Lanka,field,Sri Lanka,1001351
2,Australia,Sri Lanka,male,2016/17,2017/02/22,Adelaide Oval,None,Sri Lanka,field,Australia,1001353
3,Ireland,Hong Kong,male,2016,2016/09/05,"Bready Cricket Club, Magheramason",Londonderry,Hong Kong,bat,Hong Kong,1004729
4,Zimbabwe,India,male,2016,2016/06/18,Harare Sports Club,None,India,field,Zimbabwe,1007655

In [8]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3463 entries, 0 to 3462
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team1          3463 non-null   object
 1   team2          3463 non-null   object
 2   gender         3463 non-null   object
 3   season         3463 non-null   object
 4   date           3463 non-null   object
 5   venue          3463 non-null   object
 6   city           3271 non-null   object
 7   toss_winner    3463 non-null   object
 8   toss_decision  3463 non-null   object
 9   winner         3463 non-null   object
 10  match_id       3463 non-null   int64
dtypes: int64(1), object(10)
memory usage: 297.7+ KB

In [9]:
matches.head()

,team1,team2,gender,season,date,venue,city,toss_winner,toss_decision,winner,match_id
0,Australia,Sri Lanka,male,2016/17,2017/02/17,Melbourne Cricket Ground,None,Sri Lanka,field,Sri Lanka,1001349
1,Australia,Sri Lanka,male,2016/17,2017/02/19,"Simonds Stadium, South Geelong",Victoria,Sri Lanka,field,Sri Lanka,1001351
2,Australia,Sri Lanka,male,2016/17,2017/02/22,Adelaide Oval,None,Sri Lanka,field,Australia,1001353
3,Ireland,Hong Kong,male,2016,2016/09/05,"Bready Cricket Club, Magheramason",Londonderry,Hong Kong,bat,Hong Kong,1004729
4,Zimbabwe,India,male,2016,2016/06/18,Harare Sports Club,None,India,field,Zimbabwe,1007655

In [33]:
deliveries = deliveries.merge(matches[['match_id', 'toss_winner', 'toss_decision', 'winner', 'venue', 'season']],on='match_id', how='left')

MergeError: Passing 'suffixes' which cause duplicate columns {'season_x', 'venue_x'} is not allowed.

In [34]:
deliveries.head()

,match_id,season_x,start_date,venue_x,innings,ball,batting_team,bowling_team,striker,non_striker,...,season_y,total_runs_x,total_wickets_x,toss_winner_y,toss_decision_y,winner_y,venue,season,total_runs_y,total_wickets_y
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,2016/17,43,1,Sri Lanka,field,Sri Lanka,Melbourne Cricket Ground,2016/17,43,1
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,2016/17,43,1,Sri Lanka,field,Sri Lanka,Melbourne Cricket Ground,2016/17,43,1
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,2016/17,43,1,Sri Lanka,field,Sri Lanka,Melbourne Cricket Ground,2016/17,43,1
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,2016/17,38,1,Sri Lanka,field,Sri Lanka,Melbourne Cricket Ground,2016/17,38,1
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,2016/17,38,1,Sri Lanka,field,Sri Lanka,Melbourne Cricket Ground,2016/17,38,1

In [35]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794009 entries, 0 to 794008
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                794009 non-null  int64
 1   season_x                794009 non-null  object
 2   start_date              794009 non-null  object
 3   venue_x                 794009 non-null  object
 4   innings                 794009 non-null  int64
 5   ball                    794009 non-null  float64
 6   batting_team            794009 non-null  object
 7   bowling_team            794009 non-null  object
 8   striker                 794009 non-null  object
 9   non_striker             794009 non-null  object
 10  bowler                  794009 non-null  object
 11  runs_off_bat            794009 non-null  int64
 12  extras                  794009 non-null  int64
 13  wides                   32436 non-null   float64
 14  noballs                 4139 non-null    object
 15  byes                    3409 non-null    float64
 16  legbyes                 10424 non-null   float64
 17  penalty                 14 non-null      object
 18  wicket_type             43775 non-null   object
 19  player_dismissed        43775 non-null   object
 20  other_wicket_type       1 non-null       object
 21  other_player_dismissed  1 non-null       object
 22  toss_winner_x           794009 non-null  object
 23  toss_decision_x         794009 non-null  object
 24  winner_x                794009 non-null  object
 25  venue_y                 794009 non-null  object
 26  season_y                794009 non-null  object
 27  total_runs_x            794009 non-null  int64
 28  total_wickets_x         794009 non-null  int64
 29  toss_winner_y           794009 non-null  object
 30  toss_decision_y         794009 non-null  object
 31  winner_y                794009 non-null  object
 32  venue                   794009 non-null  object
 33  season                  794009 non-null  object
 34  total_runs_y            794009 non-null  int64
 35  total_wickets_y         794009 non-null  int64
dtypes: float64(4), int64(8), object(24)
memory usage: 218.1+ MB

In [36]:
# Calculate player-level statistics
player_stats = deliveries.groupby(['match_id', 'striker']).agg({
    'runs_off_bat': 'sum',
    'player_dismissed': lambda x: (x.notna()).sum()  # Counting dismissals
}).reset_index()
player_stats.rename(columns={'runs_off_bat': 'total_runs', 'player_dismissed': 'total_wickets'}, inplace=True)

In [37]:
player_stats

       match_id         striker  total_runs  total_wickets
0        211028      A Flintoff           6              1
1        211028       A Symonds           0              1
2        211028    AC Gilchrist          15              1
3        211028      AJ Strauss          18              1
4        211028           B Lee          15              1
...         ...             ...         ...            ...
54781   1441145        RR Patel          15              1
54782   1441145         S Singh          41              1
54783   1441145       SO Ngoche          31              0
54784   1441145  Tanzeel Sheikh           4              1
54785   1441145      Yves Cyusa          24              1

[54786 rows x 4 columns]

In [38]:
# Merge player statistics back to deliveries
deliveries = deliveries.merge(player_stats, how='left', left_on=['match_id', 'striker'], right_on=['match_id', 'striker'])

In [39]:
# Calculate team strength indicators
def calculate_team_strength(players, stats):
    return players.applymap(lambda player: stats[stats['striker'] == player]['total_runs'].mean()).mean(axis=1)

In [40]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794009 entries, 0 to 794008
Data columns (total 38 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                794009 non-null  int64
 1   season_x                794009 non-null  object
 2   start_date              794009 non-null  object
 3   venue_x                 794009 non-null  object
 4   innings                 794009 non-null  int64
 5   ball                    794009 non-null  float64
 6   batting_team            794009 non-null  object
 7   bowling_team            794009 non-null  object
 8   striker                 794009 non-null  object
 9   non_striker             794009 non-null  object
 10  bowler                  794009 non-null  object
 11  runs_off_bat            794009 non-null  int64
 12  extras                  794009 non-null  int64
 13  wides                   32436 non-null   float64
 14  noballs                 4139 non-null    object
 15  byes                    3409 non-null    float64
 16  legbyes                 10424 non-null   float64
 17  penalty                 14 non-null      object
 18  wicket_type             43775 non-null   object
 19  player_dismissed        43775 non-null   object
 20  other_wicket_type       1 non-null       object
 21  other_player_dismissed  1 non-null       object
 22  toss_winner_x           794009 non-null  object
 23  toss_decision_x         794009 non-null  object
 24  winner_x                794009 non-null  object
 25  venue_y                 794009 non-null  object
 26  season_y                794009 non-null  object
 27  total_runs_x            794009 non-null  int64
 28  total_wickets_x         794009 non-null  int64
 29  toss_winner_y           794009 non-null  object
 30  toss_decision_y         794009 non-null  object
 31  winner_y                794009 non-null  object
 32  venue                   794009 non-null  object
 33  season                  794009 non-null  object
 34  total_runs_y            794009 non-null  int64
 35  total_wickets_y         794009 non-null  int64
 36  total_runs              794009 non-null  int64
 37  total_wickets           794009 non-null  int64
dtypes: float64(4), int64(10), object(24)
memory usage: 230.2+ MB

In [41]:
import pandas as pd

# Assuming deliveries, matches, and match_players DataFrames are already loaded.

# Step 1: Calculate average runs scored by each player in previous matches
player_average_runs = deliveries.groupby('striker')['total_runs'].mean().reset_index()
player_average_runs.rename(columns={'total_runs': 'average_runs'}, inplace=True)

# Step 2: Map average runs back to the players in match_players DataFrame
for i in range(1, 12):
    match_players[f'team1_player{i}_strength'] = match_players[f'team1_player{i}'].map(player_average_runs.set_index('striker')['average_runs'])
    match_players[f'team2_player{i}_strength'] = match_players[f'team2_players{i}'].map(player_average_runs.set_index('striker')['average_runs'])

# Step 3: Calculate team strength as the average of player strengths
match_players['team1_strength'] = match_players[[f'team1_player{i}_strength' for i in range(1, 12)]].mean(axis=1)
match_players['team2_strength'] = match_players[[f'team2_player{i}_strength' for i in range(1, 12)]].mean(axis=1)

# Step 4: Add team strength indicators to the main deliveries dataset
deliveries = deliveries.merge(match_players[['match_id', 'team1_strength', 'team2_strength']], on='match_id', how='left')

# The deliveries DataFrame now has the team strength indicators

In [ ]:
deliveries.info()

In [50]:
features = ['total_runs', 'total_wickets', 'team1_strength', 'team2_strength','venue', 'season']

In [61]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3463 entries, 0 to 3462
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team1          3463 non-null   object
 1   team2          3463 non-null   object
 2   gender         3463 non-null   object
 3   season         3463 non-null   object
 4   date           3463 non-null   object
 5   venue          3463 non-null   object
 6   city           3271 non-null   object
 7   toss_winner    3463 non-null   object
 8   toss_decision  3463 non-null   object
 9   winner         3463 non-null   object
 10  match_id       3463 non-null   int64
dtypes: int64(1), object(10)
memory usage: 297.7+ KB

In [62]:
deliveries['match_id']

0         1001349
1         1001349
2         1001349
3         1001349
4         1001349
           ...
794004     995469
794005     995469
794006     995469
794007     995469
794008     995469
Name: match_id, Length: 794009, dtype: int64

In [69]:
deliveries = deliveries.merge(matches[['winner','match_id']], on='match_id', how='left')

In [70]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794009 entries, 0 to 794008
Data columns (total 41 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                794009 non-null  int64
 1   season_x                794009 non-null  object
 2   start_date              794009 non-null  object
 3   venue_x                 794009 non-null  object
 4   innings                 794009 non-null  int64
 5   ball                    794009 non-null  float64
 6   batting_team            794009 non-null  object
 7   bowling_team            794009 non-null  object
 8   striker                 794009 non-null  object
 9   non_striker             794009 non-null  object
 10  bowler                  794009 non-null  object
 11  runs_off_bat            794009 non-null  int64
 12  extras                  794009 non-null  int64
 13  wides                   32436 non-null   float64
 14  noballs                 4139 non-null    object
 15  byes                    3409 non-null    float64
 16  legbyes                 10424 non-null   float64
 17  penalty                 14 non-null      object
 18  wicket_type             43775 non-null   object
 19  player_dismissed        43775 non-null   object
 20  other_wicket_type       1 non-null       object
 21  other_player_dismissed  1 non-null       object
 22  toss_winner_x           794009 non-null  object
 23  toss_decision_x         794009 non-null  object
 24  winner_x                794009 non-null  object
 25  venue_y                 794009 non-null  object
 26  season_y                794009 non-null  object
 27  total_runs_x            794009 non-null  int64
 28  total_wickets_x         794009 non-null  int64
 29  toss_winner_y           794009 non-null  object
 30  toss_decision_y         794009 non-null  object
 31  winner_y                794009 non-null  object
 32  venue                   794009 non-null  object
 33  season                  794009 non-null  object
 34  total_runs_y            794009 non-null  int64
 35  total_wickets_y         794009 non-null  int64
 36  total_runs              794009 non-null  int64
 37  total_wickets           794009 non-null  int64
 38  team1_strength          794009 non-null  float64
 39  team2_strength          794009 non-null  float64
 40  winner                  794009 non-null  object
dtypes: float64(6), int64(10), object(25)
memory usage: 248.4+ MB

In [ ]:
deliveries.isnull().sum()

In [71]:
X = deliveries[features].fillna(0)  # Handle missing values
y = (deliveries['winner'] == deliveries['bowling_team']).astype(int)

In [72]:
y

0         1
1         1
2         1
3         1
4         1
         ..
794004    0
794005    0
794006    0
794007    0
794008    0
Length: 794009, dtype: int32

In [74]:
X

,total_runs,total_wickets,team1_strength,team2_strength,venue,season
0,43,1,22.924737,20.047656,Melbourne Cricket Ground,2016/17
1,43,1,22.924737,20.047656,Melbourne Cricket Ground,2016/17
2,43,1,22.924737,20.047656,Melbourne Cricket Ground,2016/17
3,38,1,22.924737,20.047656,Melbourne Cricket Ground,2016/17
4,38,1,22.924737,20.047656,Melbourne Cricket Ground,2016/17
...,...,...,...,...,...,...
794004,9,0,25.103520,25.081995,R Premadasa Stadium,2016
794005,3,0,25.103520,25.081995,R Premadasa Stadium,2016
794006,9,0,25.103520,25.081995,R Premadasa Stadium,2016
794007,9,0,25.103520,25.081995,R Premadasa Stadium,2016
794008,9,0,25.103520,25.081995,R Premadasa Stadium,2016